<p id="notice"><%= notice %></p>

<p>
  <strong>Ten:</strong>
  <%= @car.ten %>
</p>

<p>
  <strong>Hang:</strong>
  <%= @car.hang %>
</p>

<p>
  <strong>Gia:</strong>
  <%= @car.gia %>
</p>

<p>
  <strong>Nam sx:</strong>
  <%= @car.nam_SX %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
